/* html,
body {
    height: 100%;
}

body {
    --fps: 24;
    background: #EEE;
    overflow: hidden;
}

.sprites {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    display: none;
    width: var(--width);
    height: var(--height);

    >img {
        position: absolute;
        transform: translateZ(0);
        top: 0;
        left: 0;
        animation: calc(var(--frames) / var(--fps) * 1s) var(--keyframes) infinite step-end;
    }
}


input {
    @for $i from 1 through 4 {
        &#s#{$i}:checked {
            ~label:nth-of-type(#{$i}) {
                box-shadow: 2px 4px rgba(0, 0, 0, .1) inset, 0 0 0 200px rgba(0, 0, 0, .2) inset;
            }

            ~.sprites .sprite:nth-child(#{$i}) {
                display: block;
            }
        }
    }
}

label {
    display: inline-block;
    background: #15B0ED;
    color: #FFF;
    padding: .6em 1em;
    margin: .5em;
    border-radius: 5px;
    box-shadow: 0 -4px rgba(0, 0, 0, .2) inset;
    cursor: pointer;

    &:hover { background: #34BDEF;
    }
}

$catSprite: (
    W:408,
    H:199,
    rows:13,
    cols:1,
    frames:13
);

@mixin spriteKeyframes($s, $mode) {
    calc the "jump" relative to number of frames
    $jump: 100 / (map-get($s, frames));
    frame index
    $frame: 0;

    $rows: if($mode =="vertical", map-get($s, cols) + 1, map-get($s, rows) + 1);
    $cols: if($mode =="vertical", map-get($s, rows) + 1, map-get($s, cols) + 1);

    @if map-get($s, startFrame) > 0 {
    }

    @for $row from 1 to $rows {
        @for $col from 1 to $cols {
            $frame : $frame + 1;

            #{$frame * $jump}% {
                top :#{($row - 1) * map-get($s, H) * -1 + 'px'};
                left:#{($col - 1) * map-get($s, W) * -1 + 'px'};
            }
        }
    }
}

    .catSprite {
        --width: 408px;
        --height: 199px;
        --frames: 13;
        --keyframes: catSpriteAnim;
        margin: 0;
        right: 0;
        left: auto;
        top: auto;
        bottom: -2%;
        animation: 1.5s catSprint infinite linear;
    }

    @keyframes catSpriteAnim {
        @include spriteKeyframes($catSprite, null);
    }

    @keyframes catSprint {
        0% {
            right: 0;
            transform: translateX(100%);
        }

        70%,
        100% {
            right: 100%;
            transform: none;
        }
    } */

    /* .moon {
    width: 250px;
    height: 250px;
    bottom: 35%;
    border-radius: 1px solod rgba (0.0.0.0.3);
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d8d8d8;
    box-shadow: inset 15px 15 10px #999;
    display: block;
} */

    /* .panda {
    position: absolute;
    top: 10%;
    left: 50%;
    border-bottom-style: 35%;
    background: transparent url('./animation/animation.png') 0 0 no-repeat;
    width: 178px;
    height: 155px;
    transform: translate(-50%, 100%);
    margin: 2em auto;
    animation: walker 1s steps(4) infinite;
}

@keyframes: walker {
    from {background-position: 0 0;}
    to {background-position: 0 -4000px}
}


.p loading {
    width: 100%;
    height: 10px;
    font-family: 'monospace';
    position: absolute;
    left: 0;
    bottom: -50px;
    color: #4c4c4c;
    font-size: 20px;
    text-shadow: 1px 1px 1px #737373;
    text-align: center;
}

input.left, input.right,
span.left, span.right {
    position: absolute;
    top:-20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 20;

}

span.left, span.right {
    pointer-events: none;
    color: #4c4c4c;
    font-size: 20px;
    text-shadow: 1px 1px 1px #737373;
}

input.left, span.left {
    left:0;

}
input.right, span.right {
    right:0;
}

input.left, input.right {
    opacity: 0;
}

.left:checked ~ .dog {
    transform: translate(-50% -50%) rotateY(180deg);
} */



    .sprite {
    width: 245px;
    height: 400px;
    display: block;
    background: transparent url(https://s.cdpn.io/13034/walker.png) 0 0 no-repeat;
    margin: 3em auto;
    animation: walker 1s steps(5) infinite;

}
@keyframes walker {
    from {background-position: 0 0;}
    to {background-position: 0 -4000px;}
}

/* html,
body {
  height: 100%;
}

body {
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
}

.panda {
  transform: scale(1.2) translateY(40px);
  zoom: 1.2;
  animation: panda 0.25s ease-in-out alternate infinite;
  transform-origin: bottom center;
  &__ears {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: -1;
    transform: translateY(23px) scale(1.25);
  }
  &__ears:before,
  &__ears:after {
    content: " ";
    display: block;
    background: #543535;
    width: 10px;
    height: 10px;
    border: 5px solid $black;
    border-radius: 10px;
  }
  &__contain {
    transform-origin: bottom center;
    animation: tilt 3s ease-in-out alternate infinite;
  }
  &__head,
  &__body {
    background: $white;
    height: 50px;
    width: 60px;
    border-radius: 30px 30px 15px 15px / 40px 40px 10px 10px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  &__eyes {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 65%;
    left: 17%;
    top: 40%;
    animation: eyes 3s ease-in-out infinite alternate;
  }
  &__eyes:before,
  &__eyes:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border: 6px solid $black;
    background: #9fb7dd;
  }
  &__eyes:before {
    transform: rotate(-30deg) scale(1, 0.75);
    border-radius: 12px 8px 8px 8px / 12px 8px 8px 8px;
  }
  &__eyes:after {
    transform: rotate(30deg) scale(1, 0.75);
    border-radius: 8px 12px 8px 8px / 8px 12px 8px 8px;
  }
  &__nose {
    width: 30px;
    height: 35px;
    background: $white;
    border: 1px solid $black;
    border-radius: 16px;
    transform: scale(1, 0.5);
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: nose 3s ease-in-out alternate infinite;
  }
  &__nose:before {
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin-top: 5px;
    background: $black;
    animation: eyes 3s ease-in-out infinite alternate;
  }
  &__nose:after {
    content: "";
    display: block;
    height: 15px;
    width: 2px;
    border-radius: 4px;
    background: $black;
    animation: eyes 3s ease-in-out infinite alternate;
  }
  &__arms {
    position: relative;
  }
  &__arms:before,
  &__arms:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    height: 30px;
    width: 13px;
    background: $black;
    border-radius: 5px 5px 5px 5px;
    transform-origin: center top;

    z-index: -1;
  }
  &__arms:before {
    transform: rotateZ(120deg);
    left: 10px;
    animation: wave 0.5s ease-in-out alternate infinite;
  }
  &__arms:after {
    right: 10px;
    transform: rotateZ(-35deg);
    animation: offhand 0.8s ease-in-out alternate infinite;
  }
  &__body {
    z-index: -1;
    transform: scale(1, 0.65) translateY(-30px);
    border-top: 20px solid $black;
    border-bottom: 5px solid $black;
    animation: breathe 0.25s ease-in-out infinite alternate;
    border-radius: 30px 30px 25px 25px / 40px 40px 25px 25px;
  }
  &__legs {
    position: relative;
    transform: translateY(-35px);
    display: flex;
    justify-content: space-between;
    z-index: -2;
    width: 50px;
    margin-left: 5px;
  }

  &__legs:before,
  &__legs:after {
    content: " ";
    display: block;
    height: 25px;
    width: 18px;
    border-radius: 0 0 5px 5px;
    background: $black;
  }

  &__legs:before {
    transform: translateY(-10px);
    animation: run 0.5s ease-in-out alternate infinite;
  }

  &__legs:after {
    transform: translateY(-16px);
    animation: run-r 0.5s ease-in-out alternate infinite;
  }

  &__shadow {
    content: "";
    display: block;
    background: $black;
    width: 60px;
    height: 60px;
    transform: scale(1, 0.3);
    border-radius: 30px;
    position: relative;
    z-index: -1;
    opacity: 0.2;
    animation: shadow 0.25s ease-in-out alternate infinite;
  }
}

.weight {
  transform-origin: bottom center;
  animation: weight 0.5s ease-in-out alternate infinite;
}

@keyframes wave {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(120deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes breathe {
  0% {
    transform: scale(1, 0.65) translateY(-30px);
  }
  100% {
    transform: scale(1, 0.67) translateY(-30px);
  }
}

@keyframes offhand {
  0% {
    transform: rotateZ(-110deg);
  }
  100% {
    transform: rotateZ(-80deg);
  }
}

@keyframes eyes {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

@keyframes nose {
  0% {
    transform: scale(1, 0.5) translateX(-2px);
  }
  100% {
    transform: scale(1, 0.5) translateX(2px);
  }
}

@keyframes run {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: scale(0.85, 1) translateY(-16px);
    background: #000;
  }
}

@keyframes run-r {
  0% {
    transform: scale(0.85, 1) translateY(-16px);
    background: #000;
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes panda {
  0% {
    transform: scale(1) translateY(60px);
  }
  100% {
    transform: scale(1) translateY(56px);
  }
}

@keyframes weight {
  0% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(4deg);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1.2, 0.3) translateY(-30px);
  }
  100% {
    transform: scale(1.15, 0.3) translateY(-27px);
  }
} */