* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    z-index: 10;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1620px
}

.header__logo {
    width: 108px;
    height: 83.61px;
    margin-right: 53px;
}

.wrapper-greenblue {
    background: #2A8086;
    width: 100%;
    position: relative;

}

.wrapper-greenblue__background {
    background: #C5E1E6;
    z-index: 2;
}

.wrapper-greenblue__footer {
    background: #196469;
    width: 100%;
    position: relative;
    z-index: 1;
}

.wrapper-greenblue__background::after {
    content: "";
    background-image: url(./images/background-animals.svg);
    width: 100%;
    height: 53vw;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 830px;
}

.wrapper-greenblue__pay-and-feed::after {
    content: "";
    background-image: url(./images/background-pay-feed.svg);
    width: 100%;
    height: 530px;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
}

.wrapper-white {
    background: #C5E1E6;
    width: 100%;
    position: relative;
}

.header__title {
    display: none;
}

.navigation__item {
    list-style-type: none;

}

.navigation__item_active {
    text-decoration: underline
}

.navigation__link {
    text-decoration: none;
    color: #C5E1E5;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

}

.header__navigation_list,
.footer__navigation_list {
    padding: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    font-size: 1.0em;
}


.navigation__link:hover {
    color: #C5E1E6;
    text-decoration: underline;
}

.header__search {
    width: 32px;
    height: 32px;
    margin-top: 10px;
}

.header__buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;

}

.header__button_sign-up {
    border: 1px solid #C5E1E6;
    border-radius: 100px;
    width: 100%;
    height: 52px;
    max-width: 97px;
    font-size: 18px;
    line-height: 21px;
    background: #2A8086;
    text-transform: uppercase;
    color: #C5E1E6;
    cursor: pointer;
}

.header__button_log-in {
    border: none;
    border-radius: none;
    width: 100%;
    max-width: 97px;
    font-size: 18px;
    line-height: 21px;
    background: #2A8086;
    text-transform: uppercase;
    color: #C5E1E6;
    margin-right: 17px;
    margin-left: 24px;
    cursor: pointer;
}

.header__burger-menu {
    display: none;
}

.animals-online__button {
    width: 258px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
    border-color: #C5E1E5;
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #0D444D;
    cursor: pointer;
    transition-duration: 0.5s;
}

.animals-online__button:hover {
    transform: scale(1.1);

}

.footer {
    display: flex;
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 20px;
}

.footer__logo {
    width: 108px;
    height: 83.61px;
    margin-right: 53px;
}

.footer__title {
    display: none;
}

.footer__about-site {
    flex: 1;
    display: flex;
    color: #ffff;
    size: 16px;
    align-items: flex-end;
    flex-direction: column;
}

.text__design-by {
    margin: 0;
}

.text__about-school {
    margin: 0;
}

.animals-online {
    padding: 40px 10px;
    justify-content: space-between;
    position: relative;
    z-index: 3;

}

.main__section {
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1620px
}

.animals-online__content {
    padding: 10px 10px 10px 10px;
}

.animals-online__title {
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    color: #F3F7F8;
}

.animals-online__photo {
    max-height: 665px;
    max-width: 804px;
    width: 50vw;
    height: 42vw;
}

.animals-online__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F3F7F8;
    max-width: 480px;
    width: 100%;
    margin-bottom: 60px;
}

.how-it-works {
    padding: 0 10px 40px;
    font-size: 10px;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.how-it-works__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
    margin-bottom: 98px;
}

.how-it-works__content {
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    font-size: 5px;
    text-align: center;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-card__image {

    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 145px;
    height: 145px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-card__image img {
    width: 50px;
    height: 50px;
}

.info-card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #0D444D;
    margin-top: 14px;
}

.pets-in-zoo__header {
    padding: 10px;
    font-size: 10px;
    display: flex;

    justify-content: space-between;
    margin-bottom: 90px;
}


.pets-in-zoo__icon,
.testimonials__icon {
    background-image: url("./images/icon-heart.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 19px;
}

.pets-in-zoo__button,
.testimonials__button {
    border-radius: 100px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #0D444D;
    border: none;
    height: 52px;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
}

.pets-in-zoo__arrow {
    border: none;
    background-color: inherit;
    align-self: center;
}

.pets-in-zoo__column-controls {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.main__illustration {
    width: 100%;
    height: 600px;
    background: url("./images/bgtitle.png") 0 0 no-repeat;
    position: relative;
}

.panda {
    position: absolute;
    top: 40%;
    left: 50%;

    background: transparent url('./animation/animation.png') 0 0 no-repeat;
    width: 203px;
    height: 155px;
    transform: translate(-50%, -50%);
    margin: 2em auto;
    animation: run 1s steps(2) infinite;
}

@keyframes run {

    from {
        background-position: 0, 0;
    }

    to {
        background-position: -1100px, 0;
    }

}

.pets-in-zoo {
    flex-direction: column;
}

.pets-in-zoo__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
    margin-bottom: 78px;
}


.card__title {
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
}

.pets-in-zoo__table {
    gap: 20px;
    display: flex;
    width: 100%;
}

.pets-in-zoo__column {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.pets-in-zoo__column-control {
    display: flex;
    gap: 20px;
    flex-direction: column;

    align-items: center;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;

}

.card__footer {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    max-width: 480px;
    width: 100%;
}

.pets-in-zoo {
    padding: 80px 10px;
}

.pets-in-zoo__card-logo {
    margin-left: 20px;
}

.pets-in-zoo__image {
    width: 22.59px;
    height: 49.46px;
}

.card-logo {
    vertical-align: middle;
}

.pay-and-feed {
    flex-direction: column;
}

.pay-and-feed__header {
    border: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 90px;

}

.pay-and-feed__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #C5E1E6;
}

.pay-and-feed__button {
    border-radius: 100px;
    padding: 14px 78px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #0D444D;
    order: 0;
    border: none;
    align-items: center;
    background: #C5E1E6;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 356px;
    cursor: pointer;
}

.pay-and-feed__content {
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    font-size: 5px;
    text-align: center;
}

.testimonials {
    flex-direction: column;
    padding: 80px 10px;
}

.testimonials__header {
    border: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
}

.testimonials__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
}



.testimonials__icon {
    background-image: url("./images/icon-feedback.svg");
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 19px;
}

.feedback__content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.feedback__content_answer {
    border: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.feedback__content_image {
    border: 0;
    flex-grow: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__answer {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
}

.pay-and-feed {
    padding: 80px 10px;
    font-size: 10px;
    flex-direction: column;
}

.pay-and-feed__title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #0D444D;
}



.pay-and-feed__content {
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    font-size: 5px;
    text-align: center;
    align-items: center;
}

.lines {
    background-color: #C5E1E5;
    max-width: 266px;
    width: 100%;
    height: 1px;
    transform: translate(10px, 0px);
}

.lines1 {
    width: 40px;
    height: 40px;
}

.info-card__texts {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C5E1E6;
    margin-top: 14px;
}

.info-card__vector {
    display: flex;
    align-items: center;
    width: 20%;
}

.feedback {
    border: 0;
    flex-grow: 0;
    padding: 20px 100px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.feedback__person {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.feedback__contact {
    margin-left: 16px;
}

.feedback__comment {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    padding: 20px 20px 60px 20px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}

.feedback__comment::after {
    content: "";
    z-index: 1;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #FFFFFF;
    bottom: -10px;
    left: 40px;
    transform: rotate(45deg);
}

.feedback__contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.Look-at-this-beautiful-animals {
    padding: 80px 10px;
    font-size: 10px;
    flex-direction: column;
}

.Look-at-this-beautiful-animals__header {
    margin-bottom: 60px;
    padding: 10px;
}

.Look-at-this-beautiful-animals__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
}

.Look-at-this-beautiful__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 100px;
}

.Look-at-this-beautiful__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #2D2D2D;
}

.Look-at-this-beautiful__column {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 51px;
}

.Look-at-this-beautiful__arrow {
    background: none;
    border: none;
}

.Choose-your-favorite-Animal__info-card-map {
    overflow: auto;
}

.choose-your-favorite-animal {
    padding: 0 10px 40px;
    font-size: 10px;
    flex-direction: column;
    position: relative;
}

.Choose-your-favorite-Animal__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #C5E1E6;
    margin-bottom: 98px;
}

.info-card__map {
    text-align: center;
    position: relative;
    width: 1600px;
    height: 915px;
}

.info-card-map__aligator,
.info-card-map__panda,
.info-card-map__gorila,
.info-card-map__eagle {
    position: absolute;
    z-index: 2;
}

.info-card-map__aligator:hover::after,
.info-card-map__panda:hover::after,
.info-card-map__gorila:hover::after,
.info-card-map__eagle:hover::after {
    content: "";
    background-image: url(./images/box-white.svg);
    width: 120px;
    height: 100px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    background-size: contain;
    top: -8px;
    left: -13px;
}

.info-card-map__eagle {
    left: 16%;
    bottom: 50%;
}

.info-card-map__aligator {
    left: 25%;
    bottom: 45%;
}

.info-card-map__gorila {
    left: 48%;
    bottom: 33%;
}

.info-card-map__panda {
    left: 68%;
    bottom: 45%;
}

.info-card-map__content {
    width: 100%;
    max-width: 90px;
}

.main__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.giant-pandas__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
}

.giant-pandas__navigation_list {
    list-style-type: none;
    padding: 20px;
}

.giant-pandas__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.giant-pandas__arrow {

    border: none;
    background-color: #C5E1E6;
    margin-left: 30px;
}

.giant-pandas__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #0D444D;
    margin-top: 29px;
    margin-bottom: 8px;
}

.side-cameras__header {
    margin-bottom: 60px;
    padding: 10px;
}

.side-cameras__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #0D444D;
    margin-top: 56px;
    margin-bottom: 8px;
}

.side-cameras__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.main__column {
    display: flex;
    justify-content: space-between;
}

.information {
    flex-direction: column;
    padding: 80px 10px;
}

.information__title-information {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
}

.information__text-information {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
}

.information__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D444D;
}

.information__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.information__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D444D;
}

.information__text-underline {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #0D444D;
}

.donate__illustration {
    width: 100%;
    position: relative;
    bottom: -100px;
}

.main__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information__title-facts {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #0D444D;
}

.navigation__fact-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #0D444D;
    position: relative;
}


.navigation__fact-list {

    padding: 0;
    list-style-type: none;

}

.navigation__fact-item::after {
    background-image: url(./images/ul.svg);
    content: "";
    width: 13px;
    height: 16px;
    position: absolute;
    left: -30px;
    top: 10px;

}

.main__content {
    padding-right: 10px;
}

.video {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 19.5469px;
    max-width: 1324px;
    max-height: 604px;
    width: 72vw;
    height: 39vw;

}

.video__side-cameras {
    max-width: 312px;
    max-height: 205px;
    width: 28vw;
    height: 19vw;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 17.0376px;
}

.nymber {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #F3F7F8;
}

.main__video-link,
.main__video-link-eagle,
.main__video-link-gorila,
.main__video-link-aligator {
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    width: 76px;
    height: 73px;
    position: relative;
    background-image: url(./images/mini-panda.png);
    display: block;
}

.main__video-link:hover::before,
.main__video-link-eagle:hover::before,
.main__video-link-gorila:hover::before,
.main__video-link-aligator:hover::before,
.main__video-link_active::before {
    content: "";
    background-image: url(./images/box-shadow.svg);
    width: 113px;
    height: 96px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    background-size: contain;
    top: -8px;
    left: -13px;
}

.main__video-link-eagle {

    background-image: url(./images/mini-eagle.png);
}

.main__video-link-gorila {

    background-image: url(./images/mini-gorila.png);
}

.main__video-link-aligator {

    background-image: url(./images/mini-aligator.png);
}

.main__video-link a {

    text-decoration: none;
}

.page404 {
    background-color: #c5e1e6;
    text-align: center;
    position: relative;
}


.page404__header_title {
    font-style: normal;
    font-weight: 400;
    font-size: 250px;
    line-height: 388px;
    align-items: center;
    text-transform: uppercase;
    color: #0D444D;
    margin: 0 0 0 0;
    text-align: center;
}

.page404-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0D444D;
}

.page404__button {
    width: 247px;
    height: 52px;
    left: 0px;
    top: 0px;
    background: #19707D;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #F3F7F8;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    display: none;

}

.popup.visible {
    display: flex;
}

.popup__background {
    position: absolute;
    background-color: #000000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.popup__header {
    background-color: #2A8086;

    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
}

.popup__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup__content {
    display: flex;

    background-color: #C5E1E5;

    z-index: 12;
    position: relative;
    flex-direction: column;
    border-radius: 20px;

}

.popup__close {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;

}


.popup__tabs {
    display: flex;
}

.popup__tab {

    padding: 5px;
    text-transform: uppercase;
    border: none;
    background-color: inherit;
    padding-bottom: 20px;
    border-bottom: 2px solid red;

    font-weight: 400;
    font-size: 18px;
    flex: 1;

}

.popup__tab.popup__tab_active {
    border-bottom: solid 2px green;
}

.popup__butten {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C5E1E5;
}

.butten__google,
.butten__facebook {
    width: 216px;
    height: 54px;
    left: 61px;
    top: 232px;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    border-color: #C5E1E5;
}

.google__icon,
.facebook__icon {
    width: 20px;
    height: 20px;
}

.popup__form {
    background-color: #C5E1E5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup__form_label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #0D444D;
}

.popup__form_input {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 448px;
    height: 54px;
}

.popup__agree-form {
    background-color: #C5E1E5;
}


.popup__send {
    background-color: #C5E1E5;
}

.popup__agree-form_coment {
    border: 1.5px solid #19707D;
    border-radius: 4px;
    width: 22px;
    height: 22px;
}

.popup__agree-form_inline {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
}

.butten__send {
    width: 448px;
    height: 54px;
    background: #2A8088;
    box-shadow: 0px 2px 20px rgba(185, 213, 217, 0.6);
    border-radius: 100px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C5E1E6;

}

.Look-at-this-beautiful__image a {
    width: 76px;
    height: 73px;
    display: block;
    overflow: hidden;
}

.animals-panda {
    transform: translateX(0px);
}

.animals-gorilla {
    transform: translateX(-260px);
}

.animals-eagle {
    transform: translateX(-81px);
}

.animals-aligator {
    transform: translateX(-348px);
}

.animals-elephant {
    transform: translateX(-436px);
}

.animals-lemur {
    transform: translateX(0px);
}

.giant-pandas__navigation_list a {
    width: 76px;
    height: 73px;
    display: block;
    overflow: hidden;
}

.navigation__list_animals-panda {
    transform: translateX(0px);
}

.navigation__list_animals-eagle {
    transform: translateX(-81px);
}

.navigation__list_animals-gorila {
    transform: translateX(-260px);
}

.navigation__list_animals-aligator {
    transform: translateX(-348px);
}


@media (max-width: 1400px) {
    .animals-online__title {
        margin-top: 0;
        font-size: 65px;
    }

    .how-it-works__content {
        padding: 20px 20px 20px 20px;
    }

    .giant-pandas__title {

        font-size: 24px;

    }


}

@media (max-width: 1200px) {

    .pets-in-zoo__button,
    .testimonials__button {
        font-size: 14px;
        line-height: 20px;
        height: 46px;
    }

    .animals-online__title {
        margin-top: 0;
        font-size: 50px;
        line-height: 60px;
    }

    .pets-in-zoo__title,
    .pay-and-feed__title,
    .testimonials__title {
        font-size: 20px;
        line-height: 24px;
    }

    .animals-online__text {
        margin-bottom: 25px;
    }

    .Look-at-this-beautiful__column {
        margin-left: 21px;
    }

    .navigation__link {
        font-size: 18px;
        line-height: 20px;

    }

    .header__logo,
    .footer__logo {
        width: 102px;
        margin-right: 0;
        padding-left: 25px;
    }

    /* .navigation__list {
        font-size: 18px;
        line-height: 20px;
    }

    .navigation__item {
        list-style-type: none;
        margin-right: 10px;
    } */

    .footer__about-site {
        size: 12px;
    }

    .header__button_log-in {
        margin: 0;
    }

    .donate__illustration {
        bottom: -60px
    }

    .pets-in-zoo__column:nth-child(3) {
        display: none;
    }

    .side-cameras__info-card:nth-child(3) {
        display: none;
    }

    .main__content {
        padding: 0;
    }

    .lines {
        width: 35%;
    }

    .header__navigation_list,
    .footer__navigation_list {
        margin-left: 0;
    }
}

@media (max-width: 992px) {
    .animals-online__title {
        margin-top: 0;
        font-size: 35px;
        line-height: 40px;
    }

    .giant-pandas__title {
        font-size: 20px;
    }

    .main__header {
        padding-top: 30px;
    }

    .giant-pandas__title {
        font-size: 16px;
    }

    .donate__illustration {
        bottom: -45px
    }

    .main__content {
        padding-right: 5px;
    }

    .giant-pandas__arrow {
        margin-left: 10px;
    }

    .main__column {
        flex-direction: column;
    }

    .pets-in-zoo__column:nth-child(2) {
        display: none;
    }

    .header__navigation_list {
        gap: 0;

    }

    .header__burger-menu {
        display: block;
    }

    .header__navigation.navigation {
        display: none;
    }

    .footer__navigation_list {
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .header {
        position: relative;
        justify-content: space-between;
    }
    donate__illustration {
        bottom: -60px;
}

@media (max-width: 768px) {
    .animals-online__title br {
        display: none;
    }

    .animals-online {
        padding: 10px 10px;
        flex-direction: column;
        align-items: center;
    }

    .animals-online__photo {
        display: none;
    }

    .animals-online__content {
        padding: 5px 5px 45px 5px;
    }

    .pets-in-zoo__title,
    .pay-and-feed__title,
    .testimonials__title,
    .Look-at-this-beautiful-animals__title {
        font-size: 16px;
        padding-left: 40px;
    }

    .how-it-works__title {
        padding-top: 40px;
        font-size: 16px;
        padding-left: 40px;
    }

    .pets-in-zoo__button,
    .testimonials__button {
        font-size: 12px;
        line-height: 16px;
        height: 40px;
    }

    .pay-and-feed__button {

        font-size: 12px;
        line-height: 16px;
        max-width: 300px;
    }

    .header__logo,
    .footer__logo {
        width: 82px;
        margin-right: 0;
        padding-left: 20px;
    }


    .pay-and-feed__content {
        padding: 20px 20px 20px 20px;
    }

    .footer__about-site {
        size: 10px;
    }

    .info-card__text {
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        margin-top: 10px;
    }

    .how-it-works__content {
        padding: 5px 20px 5px 20px;
    }

    .wrapper-greenblue__background::after {
        height: 341px;
    }

    .navigation {
        justify-content: space-between;
    }



    .Look-at-this-beautiful__info-card:nth-child(7) {
        display: none;
    }

    .Look-at-this-beautiful__content {
        padding: 5px;
    }



    .info-card__vector {
        margin-bottom: 20px;
        transform: rotate(90deg);
    }

    .lines {
        display: none;
    }

    /* .header__navigation.navigation {
        height: 300px;
        position: absolute;
        width: 100%;
        left: 0;
        z-index: -1;
        bottom: -300px;
    }

    .header__navigation_list {
        display: block;
        margin-left: 0px;
        text-align: center;
        color: white;
        background-color: #2A8086;
        width: 100%;
        justify-content: space-between;
        padding: 15px 0;
    } */



    .navigation__item.navigation__item_active {
        list-style: none;
        margin-bottom: 30px;
        font-size: 1.5rem;
    }

    .navigation__item {
        list-style: none;

        font-size: 1.5rem;
    }
    .donate__illustration {
        bottom: -45px
}

@media (max-width: 640px) {
    .how-it-works__content {
        flex-direction: column;
    }

    .info-card {
        margin-bottom: 20px;
    }

    .how-it-works__title {
        margin-bottom: 20px;
    }

    .pay-and-feed__content {
        flex-direction: column;
    }

    .feedback {
        padding: 20px;
    }

    .testimonials__feedback {
        flex-direction: column;
    }

    .Look-at-this-beautiful__info-card:nth-child(6) {
        display: none;
    }

    .side-cameras__info-card:nth-child(2) {
        display: none;
    }

    .video {
        width: 70vw
    }
    .donate__illustration {
        bottom: -35px;
    }
}

@media (max-width: 480px) {
    .wrapper-greenblue__background::after {
        height: 386px;
    }

    .Look-at-this-beautiful__info-card:nth-child(5) {
        display: none;
    }

    .Look-at-this-beautiful__info-card:nth-child(4) {
        display: none;
    }

    .testimonials__header {
        flex-direction: column;
    }

    .pay-and-feed__header {
        flex-direction: column;
    }

    .pets-in-zoo__header {
        flex-direction: column;
    }

    .main__section {
        flex-direction: column;
    }

    .main__navigation {
        overflow: hidden;
        height: 117px;
        background-color: #2A8086;
    }

    .giant-pandas__navigation_list {
        display: flex;
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: space-between;
    }
    .donate__illustration {
        bottom: -25px;
    }
}

@media (max-width: 330px) {
    .wrapper-greenblue__background::after {
        height: 450px;
    }

    .Look-at-this-beautiful__info-card:nth-child(4) {
        display: none;
    }

    .Look-at-this-beautiful__info-card:nth-child(3) {
        display: none;
    }
    .donate__illustration {
        bottom: -20px;
    }
}