* {
    box-sizing: border-box;
}

.header {
    display: flex;
    background: #2A8086;
    align-items: center;
    padding: 20px;
}

.header__title {
    display: none;
}

.navigation__item {
    list-style-type: none;
    margin-right: 20px;
}

.navigation__link {
    text-decoration: none;
    color: #C5E1E5;
}

.navigation__list {
    display: flex;
}

.header__buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__button {
    border-radius: 20px;
    border-color: #ffff;
}

.footer {
    display: flex;
    background: #2A8086;
    align-items: center;
    padding: 20px;
}

.footer__title {
    display: none;
}

.footer__about-site {
    flex: 1;
    display: flex;
    color: #ffff;
    size: 16px;
    align-items: flex-end;
    flex-direction: column;
}

.text__design-by {
    margin: 0;

}

.text__about-school {
    margin: 0;

}

/* 
.animals-online {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #2A8086;
}

.animals-online::after {
    content: "";
    width: 100%;
    height: 1100px;
    position: absolute;
    background-image: url(/images/bg-animal-online.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 40px;
} */
.main__section {
    display: flex;
}

.animals-online {
    padding: 10px 10px 10px 40px;
}

.animals-online__photo {
    flex: 1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 50px;

}

.animals-online__SclipAni {
    -webkit-clip-path: ellipse(310px 258px at 50% 50%);

}

.how-it-works {

    padding: 10px 10px 10px 80px;
    font-size: 10px;
}

.how-it-works__title {
    padding: 30px;
}

.how-it-works__content {
    display: flex;
    align-items: center;
    padding: 20px 100px 20px 100px;

    justify-content: space-between;
    font-size: 5px;
    text-align: center;
}

.section__Pets-in-zoo {
    padding: 10px 10px 10px 80px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Pets-in-zoo__title {
    padding: 30px;
   
}

.Choose-your-favorite__icon {
    background-image: url("/images/icon-heart.svg");
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-repeat: no-repeat;
}

.Choose-your-favorite__buttom {
    border-radius: 20px;
    border-color: #ffff;
    height: 50px;
    width: 250px;
}

.Pets-in-zoo {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    
}

.Pets-in-zoo__SclipAni {
    -webkit-clip-path: ellipse(110px 110px at 50% 50%);
}

.Pets-in-zoo__content-one {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

.Pets-in-zoo__title {
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
}

.Pets-in-zoo__content-two {
    display: flex;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}