* {
    box-sizing: border-box;
}

.header {
    display: flex;
    background: #2A8086;
    align-items: center;
    padding: 20px;
}

.header__title {
    display: none;
}

.navigation__item {
    list-style-type: none;
    margin-right: 20px;
}

.navigation__link {
    text-decoration: none;
    color: #C5E1E5;
}

.navigation__list {
    display: flex;
}

.header__buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__button {
    border-radius: 20px;
    border-color: #ffff;
}

.footer {
    display: flex;
    background: #2A8086;
    align-items: center;
    padding: 20px;
}

.footer__title {
    display: none;
}

.footer__about-site {
    flex: 1;
    display: flex;
    color: #ffff;
    size: 16px;
    align-items: flex-end;
    flex-direction: column;
}

.text__design-by {
    margin: 0;
    
}

.text__about-school {
    margin: 0;
    
}